
.loginImgPart{
    height: 80vh;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginImgPart img{
    height: 55%;
    width: 70%;
    border-radius: 20px;
    box-shadow: 10px 10px 6px #888888;
}

.loginFormpart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.loginForm{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:75%;
    border-radius: 20px;
    padding: 45px 0 45px 0;
}

.loginForm .userName{
    margin: 15px;
    width:85%
}

.loginForm .passWord{
    margin: 15px;
    margin-bottom: 30px;
    width:85%
}

