.table{
    color: white;
    margin: 15px;
    width: 30%;
    background-color: #181818;
    position: relative;
    border-radius: 7px;
    min-width: 25%;
}


.table .upper{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.table .upper:hover{
    transition: 300ms ease-in;
    background-color: #484848;
}

.table .icon{
    margin-right: 5px;
    width: 60px;
    height: 60px;
}

.table .bottom{
    display: flex;
    flex-direction: row;
    
}

.table .bottom button{
    height: 40px;
    width: 100%;
    border: none;
    background-color: whitesmoke;
    margin-right: 1px;
}

.table .bottom button:hover{
    transition: 300ms ease-in;
    background-color: #484848;
    cursor: pointer;
}